extends layouts/main.pug

block content
    .changePassword
        form(action="/users"+routes.changePassword(curUser.id), method="post").changePassword-form
            if curUser && !curUser.local
                h2 You joined with social account.
            else
                input(type="password" required name="password", placeholder="password").changePassword-form__password
                input(type="password" required name="newPassword", placeholder="new password").changePassword-form__new-password
                input(type="password" required name="newPassword2", placeholder="new password again").changePassword-form__new-password2
                button.changePassword-form__button Change Password