extends layouts/main.pug
include mixins/videoBlock

block content
    .search
        .search-videos
            if videos.length == 0
                span Videos Not Found
            each video in videos.reverse()
                +searchVideoBlock(video)