.video-container__comments-box {
  .video-container__comments-info {
    margin-top: 30px;
    font-size: 20px;
    .video-container__comment-form {
      cursor: pointer;
      &:focus-within .video-container__comment-button {
        visibility: visible;
        margin-top: 0px;
      }
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      .video-container__comment-input {
        height: 30px;
        margin-bottom: 10px;
        color: white;
        background-color: #181818;
        border: none;
        border-bottom: 1px solid #5d5d5d9a;
        outline: none;
        transition: border 0.3s ease-in-out;
        &::placeholder {
          color: rgb(185, 185, 185);
          font-size: 15px;
        }
        &:focus {
          border-bottom: 1px solid #121212;
        }
      }
      .video-container__comment-button {
        cursor: pointer;
        margin-top: -20px;
        visibility: hidden;
        align-self: flex-end;
        height: 25px;
        width: 120px;
        background-color: #606060;
        border: none;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
  .video-container__comments {
    .comment-container {
      margin-top: 30px;
      display: flex;
      .creator-avatar {
        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          object-fit: cover;
        }
      }
      .comment-info {
        margin-left: 14px;
        .comment-creator-date-box {
          display: flex;
          gap: 10px;
          .comment-creator__name {
            color: white;
            font-size: 15px;
          }
          .comment-date {
            display: flex;
            gap: 3px;
            color: rgb(185, 185, 185);
            font-size: 15px;
          }
        }
        .comment-text {
          margin-top: 5px;
          font-size: 17px;
        }
        .comment-controls {
          margin-top: 15px;
          .comment-delete {
            cursor: pointer;
            font-weight: bold;
            padding: 7px 14px;
            background-color: #606060;
            border: none;
            text-transform: uppercase;
            font-size: 10px;
          }
        }
      }
    }
  }
}
