.sociallogin
    .sociallogin__google
        a(href=routes.googleLogin) Google
    .sociallogin__github
        a(href=routes.githubLogin) GitHub
    .sociallogin__facebook
        a(href=routes.facebookLogin) FaceBook